.subscribe-button {
    background-color:rgb(175, 58, 58); 
    color: white  ;
    border: none ;
    height: 35px;
    width: 100px ;
    border-radius: 5px;
    cursor: pointer;
    margin-right : 10px;
    transition: opacity .5s
   }

   .subscribe-button:hover {
       opacity: .8;
   }

   .subscribe-button:active{
       opacity: .5;
   }

   .join-button {
       background-color:white;
       border-radius: 5px;
       border-style: solid ;
       border-color: blue;
       border-width: 1px;
       height :35px;
       color:blue;
       width: 65px;
       cursor: pointer;
       margin-right : 10px;
       transition: background-color .5s,
       color .4s

   }
   .join-button:hover{
       background-color: blue; 
       color:white
   }

   .join-button:active {
       opacity: .7 ;
   }

   .tweet-button {
       background-color:rgb(58, 167, 201);
       border-radius : 18px;
       font-weight: bold; 
       font-size: 15px;
       border : none ;
       height :35px;
       color:white ;
       width: 75px;
       cursor: pointer;
       transition: .15s
       
   }
   .tweet-button:hover{
       box-shadow:5px 5px 10px rgba(0,0,0, .3);
   }